@use "../../Global.scss" as *;

.teamContainer {
    .teamCards {
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        max-width: 14vw;
        height: 47vh;
        padding: 1rem;
        border-bottom: 0.5rem solid $secondary-color;
        margin-bottom: 10rem;

        img {
            width: 15vw;
            display: block;
            border-radius: 50%;
            border: 0.5rem solid $secondary-color;
            align-self: center;
        }

        h4,
        p {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            padding: 0 1rem;
        }

        h4 {
            color: $primary-color;
            margin-top: 3rem;
        }

        p {
            margin-top: 1rem;
        }
    }

    .darkTeam{
        @extend .teamCards;
        border-bottom-color: $dark-border;
        img{
            border-color: $dark-border;
        }
        h4{
            color: $dark-primary;
        }
        p{
            color: $dark-text;
        }
    }
}



@media (max-width: 900px) {
    .teamCards {
        max-width: 30vw !important;
        margin: 0 auto 2rem !important;
        height: 35vh !important;

        img {
            width: 80% !important;

        }

        h4,
        p {
            font-size: 1rem !important;
            margin: 1rem 0 !important;
        }

        h4 {
            margin-top: 3rem;
        }

        p {
            margin-top: 1rem;
        }
    }

}
@media (max-width: 600px) {
    .teamCards {
        max-width: 50vw !important;
        margin: 0 auto 2rem !important;
        height: 26rem !important;
        img {
            width: 100% !important;
        }

    }
}