@use "../../Global.scss" as *;

.teamContainer {
    .teamCards {
        font-family: sans-serif;
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        max-width: 14rem;
        height: 24rem;
        padding: 1rem;
        border-bottom: 0.5rem solid $secondary-color;
        margin-bottom: 10rem;

        img {
            display: block;
            border-radius: 50%;
            border: 0.5rem solid $secondary-color;
        }

        h4,
        p {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            padding: 0 2rem;
        }

        h4 {
            color: $primary-color;
            margin-top: 3rem;
        }

        p {
            margin-top: 1rem;
        }
    }
}