@use "../../Global.scss" as *;

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5rem solid $primary-color;
    position: fixed;
    background-color: $page-color;
    width: 100%;
    padding: 0.5rem 0;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 3rem;

        li {
            border-right: 1px solid $primary-color;
            font-size: 12px;
            padding: 0 5px;
            text-align: center;
            align-self: center;

            a {
                text-decoration: none;
                color: $primary-color;
                &:hover{
                    background-color: $primary-color;
                    transition: 200ms;
                    cursor: pointer;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
    }

    li:last-child {
        border: none;
    }

    h3 {
        font-family: $font-jura;
        font-weight: 400;
        font-size: 2rem;
        padding-right: 3rem;
        align-self: center;

        span {
            font-family: $font-jura;
            font-weight: 400;
            color: $primary-color;
        }
    }
}

@media (max-width: 900px) {
    .navBar {
        ul{
            padding-left: 1rem;
            li{
                border-right: 2px solid $primary-color !important ;
                &:last-child{
                    border: none !important;
                }
            }
        }
        h3{
            padding-right: 1rem;
        }
    }
}
@media (max-width: 600px) {
    .navBar {
        justify-content: space-evenly;
        border-bottom: 0.3rem solid $primary-color;
        ul{
            li{
                a{
                    padding: 0 0.5rem;
                    font-size: 0.9rem;
                }
            }
        }
        h3{
            display:none;
        }
    }
}