@use "../../Global.scss" as *;

.aboutStyle {
    border: 0.5rem solid $secondary-color;
    display: flex;

    .image {
        background-image: url('../../assets/2-brock-wegner.jpg');
        background-size: cover;
        background-position: 20%;
        border-right: 0.25rem solid $secondary-color;
        width: 180rem;
    }

    article {
        display: flex;
        flex-direction: column;
        padding: 4rem 4rem 10rem;
        border-left: 0.25rem solid $secondary-color;

        h3 {
            font-family: $font-jura;
            font-weight: 400;
            color: $primary-color;
            text-align: center;
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            margin-top: 3rem;
        }
    }
}

.reverseFlex {
    flex-direction: row-reverse;

    .image {
        background-image: url('../../assets/3-armando-arauz.jpg');
        border: none;
        border-left: 0.25rem solid $secondary-color;
    }

    article {
        border: none;
        border-right: 0.25rem solid $secondary-color;
    }
}

.sectionMap {
    height: 30rem;

    .image {
        background-image: url('../../assets/leolov-location.PNG');
        width: 55rem;
    }

    article {
        h3 {
            margin: -1rem 0 1.5rem;
        }

        p {
            margin-top: 1rem;
        }
    }
}

.darkAbout{
    @extend .aboutStyle;
}
.darkFlex{
    @extend .reverseFlex;
}

.darkAbout, .darkFlex{
    @extend .image;
    border-color: $dark-border;
    .image, article{
        border-color: $dark-border;
        h3{
            color: $dark-primary;
        }
        p{
            color: $dark-text;
        }
    }
}

@media (max-width: 900px) {

    .aboutStyle {
        flex-direction: column;

        .image {
            width: 100%;
            height: 30vh;
            border: none;
        }

        article {
            border: none;
            padding: 2rem 3rem;

            h3 {
                font-size: 1.7rem;
            }

            p {
                font-size: 0.8rem;
                margin-top: 1rem;
            }
        }
    }

    .sectionMap {
        height: 100%;

        article {
            h3 {
                margin: 0rem 0 1rem;
            }
        }
    }

}

@media (max-width: 600px) {

}